body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title--galery {
    text-align: center;
}

.albums--area {
    border: 1px solid #000;
    margin: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.albums--area:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 40px;
    border-top: 2px solid gray;
    text-align: center;
    font-size: 24px;
    padding: 40px;
    font-weight: bold;
}

.photo--item {
    text-align: center;
}
.album--item {
    text-align: center;
}
.album--item h1 {
    margin-top: 50px;
}

.back--btn {
    left: 20px;
    top: 130px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    padding: 3px 25px;
    border-radius: 5px;
    opacity: 1;
    transition: all ease 0.2s;
}

.back--btn:hover {
    opacity: 0.8;
}

.container--app h1 {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 30px;
}

.container--app hr {
    margin-bottom: 50px;
}

.photo--item {
    margin: 80px;
}

.photo--item h2 {
    margin-bottom: 50px;
}
