body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title--galery {
    text-align: center;
}

.albums--area {
    border: 1px solid #000;
    margin: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.albums--area:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
